
/modules
includes
misc
profiles
scripts
/themes

sites/all/libraries

# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
sites/all/themes
sites/all/modules
sites/private
sites/tmp


sftp-config.json
.DS_Store