/* less/admin.less */

.field-edit-link{
  font-size: @font-size-small * 0.8;
  margin-left: 10px;
}

.preview{
  margin-left: -15px;
  margin-right: -15px;
  padding: 15px;
  border: 1px dashed @gray-light;
  .margin-b(1);

  .node{
    background: inherit;
  }
}

.table-responsive{
  position: relative;
}

.tabledrag-toggle-weight-wrapper{
  position: absolute;
  top: 0;
  right: 0;
}