/* less/comments.less */

.comment-wrapper{
  border: 1px solid @primary;  
}

.comments-header{
  border-bottom: 1px solid @primary;
  padding: 15px; 
}

.indented{
  padding-left: 30px;
}


.node-blog{
  .comment{
    .margin-h(3);
  }

  .comments-add-new{
    .margin-h(3);
  }  
}
