/* less/comments.less */

.comment-wrapper{
  border: 1px solid @primary;  
}

.comments-header{
  border-bottom: 1px solid @primary;
  padding: 15px; 
}

.comment{
  .margin-h(3);
}

.indented{
  padding-left: 30px;
}

.comments-add-new{
  .margin-h(3);
}