/* less/custom.less */

@import "variables";

// ** MIXIN **
// -----------

.bottom-triangle(@color) {
  position: relative;
  &::before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0px;
    margin-left: -16px;
    border-style: solid;
    border-width: 0px 16px 16px 16px;
    border-color: transparent transparent @color transparent;
  }
}
.top-triangle(@color) {
  position: relative;
  &::before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 0px;
    margin-left: -16px;
    border-style: solid;
    border-width: 16px 16px 0px 16px;
    border-color: @color transparent transparent transparent;
  }
}
// ** BG COLORS **
// ---------------

body {
  background: #fff;
}

/* editor */
body.cke_editable, body.mceContentBody{
  background: #fff;
}

.wrapper-simple-admin,
.wrapper-bottom,
.wrapper-content {
  background: #fff;
}

.node-type-page,
.node-type-day,
.node-type-conference,
.front{
  .wrapper-content{
    background: none;
  }
}

.bg-pink{
  background: @secondary;
}
.bg-blue{
  background: @primary-lightest;
}
.bg-blue-dark{
  background: @primary;
}

// ** MAIN CONTAINER **
// --------------------

// Padding vertical in every page

.main-container {
  .padding-t(1);
  .padding-b(4);
}

.page-node-486,
.page-node-441,
.node-type-company,
.front{
  .main-container{
    .padding-t(0);
    .padding-b(0);
  }
}

.node-type-company{
  .footer{
    margin-top: 0;
  }
}

.node-type-project{
  .main-container{
    .padding-t(2);  
  }
}

.wrapper-header{
  .padding-v(0.75);

  .field-name-field-submitted{
    font-weight: @font-weight-bold;
    .text-color(#fff);
  }

  .tcbl-contact{
    .margin-t(0.5);
    @media (min-width: @screen-sm-min){
      .margin-t(1);
    }
  }
}

.page-node-done{
  .wrapper-header{
    display: none;
  }
}

.wrapper-footer-img{
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.tcbl-footer{
  .padding-v(1);
  .margin-b(1.5);
}

.tcbl-footer-content{
  position: relative;

  .img-logo{
    width: 105px;
    .margin-b(1);
    @media (min-width: @grid-float-breakpoint){
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .footer-menu{
    @media (min-width: @grid-float-breakpoint){
      margin-left: 130px;
    }
  }
}

.ul-footer-menu{
  padding: 0;
  list-style: none;
}

// ** MESSAGES **
// --------------

.messages .alert{
  .margin-v(0.25);
}

// ** LOGO ** //
// -------------

.container-header{
  position: relative;
  .logo{
    position: absolute;
    top: 12px;
    left: 12px;
    margin: 0;
    padding: 0;
  }
}

.img-logo{
  width: 150px;
}

// ** NAVBAR **
// ------------

.navbar-nav{
  margin: 0;
}

.navbar-nav > li > a{
  padding-top: 5px;
  padding-bottom: 5px;
}

@media (min-width: @grid-float-breakpoint){
  .navbar-nav{
    margin-top: 68px;
  }

  .navbar-nav > li > a {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .caret{
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -4px;
  }
}

// ** PAGER **
// -----------

.nhc-pager {
  .margin-v(1);
}

// ** HOVER BOX **
// ---------------

.wrapper-hover-box {
  position: relative;
}
.hover-box__hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: fade(#000, 50%);

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background: fade(@primary-dark, 80%);
    .transition(all ease-out .7s);
  }

  &:hover {
    &:before {
      height: 100%;
    }
  }
}
.hover-box__wrapper {
  display: block;
  padding: 0px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.hover-box__title {
  display: inline-block;
  .size(2);
  padding: @size;
  .h1 {
    color: #fff;
  }
}
// ** FX **
// --------

.fx-img-zoom-simple,
.fx-img-zoom .field-item {
  position: relative;
  overflow: hidden;
  img {
    .transition(all ease-out .7s);
  }
  &:hover img {
    .scale(1.05, 1.05);
  }
}
// ** PARAGRAPHS **
// ----------------

.paragraphs-item-text-img{
  position: relative;

  .field-name-field-img{
    max-width: 80px;
    .margin-t(1);
    @media (min-width: @screen-sm-min){
      margin-top: 0;
      position: absolute;
      top: 0;
      left: 0;
      max-width: 150px;
    }
  }

  .field-name-field-short{
    @media (min-width: @screen-sm-min){
      margin-left: 170px;
      min-height: 150px;
    }
  }
}

.node-day{
  .paragraphs-item-text-img{
    .field-name-field-img{
      max-width: 180px;
      @media (min-width: @screen-sm-min){
        left: 28px;
        max-width: 250px;
      }

      @media (min-width: @screen-md-min){
        left: 56px;
      }
    }
    .field-name-field-short{
      @media (min-width: @screen-sm-min){
        margin-left: 270px;
        min-height: 250px;
      }

      h3{
        .text-color(@brand-info);
      }
    }
  }
}

.node-day-form{
  .paragraphs-item-text-img{
    h3{
      .text-color(@brand-info);
    }
  }
}

// ACTIVITY

@activity-indent: 100px;

.paragraphs-item-activity{
  .field-name-field-short{
    @media (min-width: @screen-sm-min){
      margin-left: @activity-indent;
    }
    h2{
      .text-color(@brand-info);
      font-style: italic;
    }
  }

  .double-field-first{
    @media (min-width: @screen-sm-min){
      position: absolute;
      left: 0;
      top: 0;
    }
    font-style: italic;
    font-weight: @font-weight-bold;
    font-size: @font-size-small;
  }

  .double-field-second{
    .clearfix();

    @media (min-width: @screen-sm-min){
      margin-left: @activity-indent;
      padding-left: 15px;
      border-left: 1px solid @primary-light;
    }

    h1, h2, h3, h4, h5{
      &:first-child{
        margin-top: 5px;
        @media (min-width: @screen-sm-min){
          margin-top: 0;
        }
      }
    }

    h3, p{
      .margin-b(0.25);
    }

    i{
      .text-color(@gray);
      margin: 0 5px;
    }
  }

  .field-name-field-activity .field-item{
    position: relative;
    .margin-b(0.5);
  }
}

.node-day-form,
.node-day{
  .field-type-paragraphs,
  .paragraphs-items{
    .paragraphs-item-copy{
      background: @gray-lighter;
      padding: 15px 30px;

      @media (min-width: @screen-md-min){
        padding-left: @activity-indent;
      }

      h2{
        .text-color(@gray);
        font-style: italic;
      }

      .field-name-field-short{
        margin-bottom: 0;
      }

      h1, h2, h3, h4, h5{
        &:first-child{
          margin-top: 0;
        }

        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }
}


// ** NODE SERVICE **
// ------------------

.wrapper-service-img {
  position: relative;

  img {
    width: 100%;
  }

  .field-name-title-field {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin-top: -20px;
    z-index: 2;
  }

  .service-over {
    position: absolute;
    top: 0;
    left: 0;
    background: fade(#000, 30%);
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  h1 {
    @media (min-width: @screen-md-min) {
      font-size: @font-size-h1 * 1.5;
    }
  }
}
// ** NODE MEMBER **
// -----------------

.node-member.node-full {
  .field-name-field-img {
    max-width: 120px;
    margin-left: auto;
    margin-right: auto;
  }
}
.node-member.node-teaser,
.node-member.node-child {
  .field-name-field-img {
    max-width: 120px;
    margin-left: auto;
    margin-right: auto;
  }
}


// ** NODE PROJECT **
// ------------------

.node-project.node-child{

  .node-content{
    position: relative;
    min-height: 100px;
  }

  .field-name-field-img{
    position: absolute;
    left: 0;
    top: 0;
    max-width: 100px;
  }
}

.project-child-content{
  padding-left: 120px;
}

// ** ARCHIVE **
// -------------

.wrapper-menu-cat {
  .margin-t(0.5);
  .margin-b(3);
}
.menu-cat {
  list-style: none;
  padding-left: 0;

  li {
    margin: 5px 10px;
    display: inline-block;
  }

  .a-cat {
    display: inline-block;
    padding: 10px 20px;
    color: @gray;

    &.cat-active {
      border-bottom: 3px solid @brand-primary;
      color: @primary-dark;
      font-weight: 600;
    }

    span {
      position: relative;
      top: -1px;
      font-size: 13px;
    }
  }
}
.page-node-3 {
  .field-name-field-short {
    .margin-b(0);
  }
}
// ** BNT CUSTOM SOCIAL **
// -----------------------

.btn-custom-social {
  a {
    display: inline-block;
    max-width: 25px;
    margin: 5px;
  }
}
.wrapper-social-toggle {
  z-index: 100;
  position: relative;

  .btn-custom-social {
    opacity: 0;
    position: absolute;
    padding: 10px 10px 3px 10px;
    bottom: -65px;
    right: 0;
    background: #fff;
    border: 1px solid @gray-lighter;
    .border-bottom-radius(@border-radius-small);
    .box-shadow(0px 3px 3px 0px rgba(0, 0, 0, 0.2));
    .transition(all ease-in-out .2s);

    &.visible {
      opacity: 1;
    }
  }
}
// ** ROW IMGS **
// --------------

.row-imgs {
  margin-left: -@grid-gutter-width * 0.25;
  margin-right: -@grid-gutter-width * 0.25;

  .col-sm-6 {
    padding-left: @grid-gutter-width * 0.25;
    padding-right: @grid-gutter-width * 0.25;
  }
}

// ** VIEWS **
// -----------

.view.row{
  .view-content{
    .clearfix();
  }
}

// ** NEWS **
// ----------

.posted-by{
  border: 1px solid @primary;
  max-width: 200px;
  padding: 15px;

  a{
    font-weight: @font-weight-bold;
  }
}

// ** IMAGE INSIDE BODY **
// -----------------------

.cke_editable,
.field-name-body{
  img{
    display: block;
    width: 100%;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    .margin-v(1.5);
  }
}

// ** FAQ **
// ---------

.faq-content{
  @media (min-width: @screen-sm-min){
    .padding-h(1);
  }
}

// ** SOCIAL HEADER **
// -------------------

.ul-social{
  list-style: none;
  margin: 0 -3px;
  padding: 0;

  li{
    display: inline-block;
  }
}

.a-social{
  display: inline-block;
  width: 25px;
  height: 25px;
  .border-top-radius(100%);
  .border-bottom-radius(100%);
  background: @gray-light;
  text-align: center;
  line-height: 25px;
  margin: 0 3px;

  i{
    font-size: 14px;
    line-height: 25px;
    .color-and-hover(#fff);
    position: relative;
    top: -1px;
  }
}

.navbar-collapse{
  .ul-social{
    padding: 10px 15px 20px 15px;
    @media (min-width: @grid-float-breakpoint){
      position: absolute;
      top: 30px;
      right: 220px;
      padding: 0;
    }
  }
}

.tcbl-footer-content{
  .ul-social{
    @media (min-width: @grid-float-breakpoint){
      position: absolute;
      top: 0px;
      right: 220px;
    }
  }
}


// Facebook
.a-social-2945{ background: #3957a0;}
// Twitter
.a-social-2947{ background: #39ace3;}
// Instagram
.a-social-3468{ background: #4272a2;}
// YouTube
.a-social-2949{ background: #ec2124;}


// ** EVENT HEADER **
// ------------------

.wrapper-address{
  margin-left: 30px;
  position: relative;

  img{
    position: absolute;
    top: 5px;
    left: -30px;
    max-width: 20px;
  }
}

// ** USER MENU **
// ---------------

.user-menu{
  padding: 0;
  @media (min-width: @grid-float-breakpoint){
    text-align: right;
  }

  img{
    width: 25px;
    height: 25px;
    border: 1px solid @gray-light;
    .border-top-radius(100%);
    .border-bottom-radius(100%);
  }

  &.log-in{
    img{
      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
    }
  }

  .log-in,
  .name{
    font-size: 10px;
    text-transform: uppercase;
    font-weight: @font-weight-bold;
    letter-spacing: 1px;
    font-size: @font-size-small * 0.8;
    margin-left: 3px;
  }
}

.navbar-collapse{
  .user-menu{
    padding: 10px 15px;
    @media (min-width: @grid-float-breakpoint){
      padding: 0;
      position: absolute;
      top: 28px;
      right: 20px;
      width: 180px;
    }
  }
}

.tcbl-footer-content{
  .user-menu{
    .margin-b(0.5);

    @media (min-width: @grid-float-breakpoint){
      position: absolute;
      top: -2px;
      right: 20px;
    }
  }
}

// ** TCBL AVATAR **
// -----------------

.tcbl-avatar{
  display: block;
  max-width: 85px;
  height: 85px;
  .border-top-radius(100%);
  .border-bottom-radius(100%);
  border: 2px solid #94d0e8;
  padding: 4px;

  img{
    .border-top-radius(100%);
    .border-bottom-radius(100%);
    height: 73px;

    &.default{
      height: 80px;
    }
  }
}

.tcbl-avatar-small{
  max-width: 50px;
  height: 50px;
  border: 1px solid #94d0e8;

  img{
    padding: 1px;
    height: 40px;

    &.default{
      height: 48px;
    }
  }
}

// ** NEW AVATAR **
// ----------------

.profile-full{
  max-width: 340px;
  margin-left: auto;
  margin-right: auto;
  .padding-t(1);
}

.profile-default{
  position: relative;
  min-height: 50px;

  span{
    display: block;
  }

  .flat-avatar{
    position: absolute;
    top: 0;
    left: 0;
  }

  .default-avatar{
    background: @gray-light;
  }
}

.flat-avatar{
  position: relative;
  
  &__icon{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    padding: 2px;
    background: #fff;
    border: 1px solid lighten(@gray-light, 20%);
    .border-top-radius(100%);
    .border-bottom-radius(100%);

    span{
      display: block;
      width: 44px;
      height: 44px;
      background: @brand-primary;
      text-align: center;
      line-height: 44px;
      .border-top-radius(100%);
      .border-bottom-radius(100%);
    }

    img{
      .border-top-radius(100%);
      .border-bottom-radius(100%);  
    }

    i{
      font-size: @font-size-small;
      color: #fff;
    }
  }

  &__title{
    .padding-t(0.5);
    padding-left: 65px;   
  }
}

.profile__content{
  padding-left: 65px;
  display: block;
  span{
    display: block;
  }

  line-height: 26px;
}

.profile-full-company{
  .node-company{
    float: inherit;
    margin-left: auto;
    margin-right: auto;
  }
}

// ** BANNER **
// ------------

.node-settings{
  .field-type-entityreference{
    .field-label{
      font-weight: @font-weight-bold;
      .margin-b(0.5);
    }
  }

  &.node-unpublished{
    background: none;
  }
}

.node-banner{
  &.node-unpublished{
    background: none;
  }
}

// ** ONLINE USER **
// -----------------

#block-user-online{
  padding: 10px;
  border: 1px dashed @gray-light;
  font-size: @font-size-small;

  p{
    margin-bottom: 0;
  }

  ul{
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    margin-left: -15px;
    margin-right: -15px;
  }

  li{
    display: inline-block;
    font-weight: @font-weight-bold;
    margin: 3px 15px;
  }
}

.footer{
  .privacy-cookie-links{
    margin-top:10px;
    font-size: 10px;
    color: @gray-light;
    a{
      font-size: 10px;
      color: @gray-light;
    }
  }
}

// ** COLOR BOX **
// ---------------

#cboxCurrent{
  font-size: 12px;
  line-height: 15px;
}

// ** MEDIA QUERY EXAMPLE **
// -------------------------
// @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max){}