/* less/labs.less */

.labs-head-content{
  .padding-v(3);
  max-width: 750px;

  .lead{
    margin-bottom: 0;
  }
}

.row-labs-head{
  .over-parallax-dark{
    background: fade(#000, 50%);
  }
}

.labsmain__filters{
  .margin-b(2);
  position: relative;
}

.labs-select{
  .margin-b(0.5);
}

.labsmain__results{
  .clearfix();
  .margin-h(-0.5);

  .tcbl-map{
    min-height: 700px;
  }

  &.map-off{
    .labsmain__map{
      display: none;
    }  

    .labsmain__list{
      width: 100%;
    }

    .labs-results{
      .row;
    }

    .labs-no-results{
      .padding-h(0.5);
    }
  }
}

.labsmain__map,
.labsmain__list{
  width: 50%;
  float: left;
  .padding-h(0.5);
}

.labs-filters__tools{
  text-align: right;
}

.labs-pagination{
  .margin-b(1);
}

/**
 * Toggle
 */

.toggle-map{
  .fa-toggle-on{
    transform: rotate(180deg);
    position: relative;
    top: -  1px; 
  }

  &.on{
    color: @brand-primary;
    .fa-toggle-on{
      display: inherit;
      transform: rotate(0deg);
      top: 0; 
    }
  }
}

/**
 * Loader
 */

.labsmain__filters.loading{
  &:after{
    content: ' ';
    display: block;
    width: 100%;
    height: 100%;
    background: fade(#fff, 30%);
    position: absolute;
    top: 0;
    left: 0;
    cursor: wait;
  }
}

.loading .loader{
  display: block;
}

.loader{
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
  height: 4px;
  width: 100%;
  overflow: hidden;
}
.loader:before{
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: 2px;
  background-color: @brand-primary;
  animation: loading 1s linear infinite;
}

@keyframes loading {
  from  {left: -200px; width: 30%;}
  50%   {width: 30%;}
  70%   {width: 70%;}
  80%   {left: 50%;}
  95%   {left: 120%;}
  to    {left: 100%;}
}