/* less/typo.less */

// ** MIXINS **
// ------------
 
.text-color(@color){
  color: @color;
  .link-color(@color);
}

.link-color(@color){
  a{
    .color-and-hover(@color);
  }  
}

.color-and-hover(@color){
  color: @color;
  &:hover,
  &:focus,
  &:active{
    color: darken(@color,10%);
  }  
}

.fontawesome(@icon){
  content: @icon;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// ** HEADINGS **
// --------------

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
  .link-color(@headings-color);
}

.h1-big{
  font-size: @font-size-h1 * 1.5;
  font-weight: @font-weight-bold;
  font-style: italic;
}

h1, .h1{
  .margin-b(1.5);
  .text-color(@brand-primary);
  font-style: italic;
}

h2, .h2{
  .text-color(@brand-primary);
}

h3, .h3{
  .text-color(@primary-light);
  font-style: italic;
}

h4, .h4{
  .margin-t(1);
}

h6, .h6{
  .text-color(@primary-light);
}

// ** BOLD AND LINKS **
// --------------------

// strong, b,
// .text-bold,
// a{
//   font-weight: 600;
// }

a{
  .transition(all ease-in-out .2s);
}

a:hover,
a:focus,
a:active{
  text-decoration: none;
}

// ** BLOCKQUOTE **
// ----------------
// * border-color: see variable.less:825

blockquote{
  .margin-v(1);
  font-size: @font-size-base;
  .text-color(@primary);
  font-style: italic;
  font-weight: @font-weight-bold;
}

// ** LEAD **
// ----------
// * lead below sm . see type.less:62

.lead{
  font-size: (@font-size-base * 1.4);
  color: @gray-darker;
  font-weight: 400;
}

.text-date{
  .text-color(@gray-light);
}

// ** HR **
// --------

hr{
  border-top: 2px solid @gray-lighter;
}

// ** SMALL **
// -----------

.small,
small{
  font-size: @font-size-small;
}

.node-form{
  label{
    font-size: floor(@font-size-small * 0.9);
  }
}

// ** NEGATIVE **
// --------------

.negative{
  h1, h2, h3, h4, h5, h6,
  .h1, .h1-big, .h2, .h3, .h4, .h5, .h6{
    .text-color(#fff);
  }

  label,
  .lead,
  p{
    color: #fff;
  }

  .btn{
    border-color: #fff;
    background: none;
    color: #fff;
  }
}

.negative{
  .form-control::-webkit-input-placeholder { color: #fff;}
  .form-control:-moz-placeholder { color: #fff; }
  .form-control::-moz-placeholder { color: #fff; }
  .form-control:-ms-input-placeholder { color: #fff; }

  select{
    color: #fff;
  }

  .form-control{
    color: #fff;
    background: @primary;
  }

  //.btn-green{
  //  border: 1px solid @soligena-green;
  //  background: @soligena-green;   
  //}

  .form-control{
    color: #fff;
  }
}

.webform-component--privacy{
  label{
    font-size: @font-size-small;
    position: relative;
    top: -4px;
  }
  .description{
    margin-top: 0 !important;
  }
}

// ** NAV BAR **
// -------------

.navbar-default{
  .navbar-nav li a{
    .navbar-a-typo();   
  }
}

.navbar-a-typo{
  .navbar-a-typo();  
}

.navbar-a-typo(){
  text-transform: uppercase;
  font-style: italic;
  font-weight: @font-weight-bold;
  letter-spacing: 1px;
  font-size: floor(@font-size-small * 0.8);   
}

// ** LINK INSIDE COPY **
// ----------------------

.cke_editable,
.field-name-body,
.copy{
  .link-color(@primary-light);
  a{
    font-weight: @font-weight-bold;
    text-decoration: underline;

    &.btn-primary,
    &.btn-info{
      .color-and-hover(#fff);
      text-decoration: none;
    }
  }
}

.negative{
  .link-color(#fff);
  //a{
  //  text-decoration: underline;
  //}
}

// ** WEBFORM **
// -------------
// Help text

.webform-client-form{
  .description{
    font-size: @font-size-small;
    .margin-t(0.25);
  }
}

.webform-submit{
  .margin-t(0);
}

// ** FOOTER **
// ------------

.static-footer{
  .small{
    font-size: floor(@font-size-small * 0.8);
  }
}

// ** BREADCRUMB **
// ----------------

.breadcrumb{
  font-size: @font-size-small;
  font-style: italic;
  font-weight: @font-weight-bold;
  margin: 0;
  .margin-b(0.25);

  > li + li:before{
    color: #fff;  
  }

  > .active{
    color: #fff;
  }
}

// ** COLLABSIBLE LIST **
// ----------------------

.ul-collapsible{
  max-height: 120px;
  overflow: hidden;
  position: relative;

  .ul-coll-close{
    display: none;
  }

  &.open{
    max-height: none;
    .margin-b(2);
    overflow: inherit;

    .ul-coll-close{
      display: inherit;
    }

    .ul-coll-more{
      display: none;
    }

    .ul-collapsible-toggle{
      content: 'Close';
      top: auto;
      bottom: -40px;
    }
  }
}

.ul-collapsible-toggle{
  display: block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  background: @gray-lightest;
  position: absolute;
  font-size: 14px;
  padding: 0 30px;
  top: 90px;
  left: 0px;
  cursor: pointer;  
}

.cke_editable{
  .ul-collapsible{
    max-height: none;
    overflow: inherit;
    border: 1px dashed @gray-light;
  }
}